{% extends '_base_post_login.html' %}
{% load i18n static %}

{% block content %}
    <h1>{% trans 'Survey' %} {{ survey }}</h1>
    <h2 class="survey-level">{{ level }}</h2>
    <form method="post" class="survey">
        {% include 'surveys/_survey-nav.html' %}
        {% csrf_token %}
        {{ form_set.management_form }}
        {% for form in form_set %}
            <section class="question">
                {{ form.non_field_errors }}
                {{ form.source.errors }}
                {{ form.source }}
                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}
                <div class="q">
                    {{ form.answer.label }}
                    <div class="slider">
                        {{ form.answer }}
                        <div class="background-input-range left"></div>
                        <div class="background-input-range right"></div>
                    </div>
                </div>
            </section>
        {% endfor %}
        <div class="survey-next-buttons">
            {% if page > 1 %}
                <button onclick="submitAndGoToPrevious({{ page }})" type="submit"
                        id="previous-button">{% trans 'Previous' %}</button>
            {% endif %}
            <button type="submit">{% trans 'Next' %}</button>
        </div>
    </form>
    <script src="{% static 'js/surveys/surveys.js' %}"></script>
{% endblock content %}