{% extends '_base.html' %}
{% load i18n static %}

{% block nav %}
    <nav id="nav">
        <div id="nav-open" class="material-icons visible">menu</div>
        <div id="nav-close" class="material-icons">close</div>
        {% if user.organisationuserlink %}
            <section class="account-card">
                <ul>
                    <span class="material-icons">group</span>
                    <li>
                        <span>{{ user.organisationuserlink.organisation }}</span>
                        <span>-{{ user.sectionuserlink.section.name }}</span>
                        <span class="email">{{ user.email }}</span>
                    </li>
                </ul>
            </section>
        {% endif %}
        <ul class="navigation">
            <li {% if current == 'survey' %}id="current" {% endif %}>
                <a href="{% url 'home' %}"><span
                        class="material-icons">poll</span><span>{% trans 'Surveys' %}</span></a>
            </li>
            <li {% if current == 'stat' %}id="current" {% endif %}>
                <a href="{% url 'personal-statistics' section='personal' %}">
                    <span class="material-icons">show_chart</span><span>{% trans 'Statistics' %}</span>
                </a>
            </li>
            {% if user.sectionadministrator_set.all %}
                <li {% if current == 'stat-admin' %}id="current" {% endif %}>
                    <a href="{% url 'admin-statistics' %}">
                        <span class="material-icons">bar_chart</span><span>{% trans 'Administrator Statistics' %}</span>
                    </a>
                </li>
            {% endif %}
            {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}"><span
                        class="material-icons">supervisor_account</span><span>{% trans 'Superuser page' %}</span></a>
                </li>
            {% endif %}
            <li><a href="{% url 'logout' %}"><span
                    class="material-icons">exit_to_app</span><span>{% trans 'Log Out' %}</span></a></li>
        </ul>
    </nav>
{% endblock nav %}