{% extends '_base.html' %}
{% load i18n static %}

{% block nav %}
    <nav id="nav">
        <div id="nav-open" class="material-icons visible">menu</div>
        <div id="nav-close" class="material-icons">close</div>
        {% if user.organisationuserlink_set.all %}
            <section class="account-card">
                <ul>
                    {% for organisation in user.organisationuserlink_set.all %}
                        <li>
                            <div><span class="material-icons">group</span>{{ organisation.organisation }}</div>
                            {% for section in user.sectionuserlink_set.all %}
                                <span class="section">-{{ section.section.name }}</span>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        <ul class="navigation">
            <li>
                <a href="{% url 'home' %}"><span
                        class="material-icons">poll</span><span>{% trans 'Surveys' %}</span></a>
            </li>
            <li>
                <a href="{% url 'personal-statistics' %}">
                    <span class="material-icons">show_chart</span><span>{% trans 'Statistics' %}</span>
                </a>
            </li>
            {% if user.is_superuser %}
                <li><a href="{% url 'admin:index' %}"><span
                        class="material-icons">supervisor_account</span><span>{% trans 'Admin page' %}</span></a></li>
            {% endif %}
            <li><a href="{% url 'logout' %}"><span
                    class="material-icons">exit_to_app</span><span>{% trans 'Log Out' %}</span></a></li>
        </ul>
    </nav>
{% endblock nav %}