{% load static %}
<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Novem{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
        window.addEventListener("load", initPage, false);

        function initPage() {
            document.getElementById("nav-open").addEventListener("click", openNav, false);
            document.getElementById("nav-close").addEventListener("click", closeNav, false);
        }

        function openNav() {
            let nav = document.getElementById("nav");
            nav.classList.add('visible');
            document.getElementById("nav-open").classList.remove("visible");
        }

        function closeNav() {
            let nav = document.getElementById("nav");
            nav.classList.remove('visible');
            document.getElementById("nav-open").classList.add("visible");
        }

        function toggleNav() {
            let nav = document.getElementById("nav");
            nav.classList.toggle('visible');
            document.getElementById("nav-open").classList.toggle("visible");
        }
    </script>
</head>
<body>
<article>
    {% if messages %}
        <script>
            window.addEventListener("load", deleteMessages, false);

            function deleteMessages() {
                let messages = document.getElementsByClassName("messages");
                for (let i = 0; i < messages.length; i++) {
                    messages[i].classList.add("disappear");
                }
            }
        </script>
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% block content %}
    {% endblock content %}
</article>
{% block nav %}{% endblock nav %}
</body>
</html>